# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

**/__pycache__/

# Ignore Tokenizer vocab and model
tokenizer/spm_model.model  
tokenizer/spm_model.vocab  
# Ignore model checkpoints
checkpoints/

# Ignore training text
training_text.txt

# Ignore model checkpoints
checkpoints_128_model/

# Ignore code dumps
code_dump/

# Ignore log files
logs/

# Ignore virtual environments
venv/
.env/
*.env

# Ignore VSCode settings
.vscode/

# Ignore compiled Cython files
*.c
*.so